{{define "rus_index" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Rusic Music Organizer">
    <title>Rusic</title>
    <link rel="stylesheet" href="/assets/rusic.css">
    <script src="/assets/htmx.min.js"></script>
    <script src="/assets/rusic.js" defer></script>
</head>

<body>
    <div class="audioDiv">
        <audio src="" id="audio" controls></audio>
    </div>
    
    <nav class="navOne">
        <div class="navDiv">
            <a href="/"><button class="navBtn">Home</button></a>
            <button class="navBtn">Artists</button>
            <button class="navBtn">Albums</button>
            <button class="navBtn">Songs</button>
            <button class="navBtn">Playlists</button>
            
        </div>
    </nav>

    <main>
        <div>
            <h1>Currently Playing</h1>
            <div class="playingDiv">
                <img class="playingImg" src="/assets/playing.jpg" alt="Currently Playing">
            </div>
            <h2 hx-trigger="click" hx-get="/albumofinterest" hx-target=".randomArt" hx-swap="outerHTML">Albums Of Interest</h2>
            <div id="randArt" class="randomArt" hx-ext="path-params">
                {{ range . }}
                <form action="/randomArtClick" >
                    <input type="hidden" name="albumid" value="{{ .AlbumId }}">
                    <button class="ranArt" type="submit">
                        <img 
                            src="{{ .HttpThumbPath }}" 
                            alt="Currently Playing"
                        >
                    </button>
                </form>
                <!-- <img 
                    class="ranArt" 
                    src="{{ .HttpThumbPath }}" 
                    hx-trigger="click" 
                    hx-get="/songsforalbum?albumid={{ .AlbumId }}"
                    hx-vals='{"albumid":"{{ .AlbumId }}"}'
                    hx-target="main" 
                    hx-swap="innerHTML"
                    alt="Currently Playing"
                > -->
                {{ end }}
            </div>
        </div>
    </main>
    <footer>
        <div class="footerDiv">
            <p class="footerP">Mexican Black Bird</p>
            <p class="footerP">ZZ Top</p>
        </div>
    </footer>

</body>

</html>

{{end}}