{{ define "mtv_movies" }}

<div class="movlistDiv">
    <div class="movlist">
        <span class="movListA" hx-trigger="click" hx-get="/movaction" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Action</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movarnold" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Arnold</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movbrucelee" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Bruce Lee</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movbrucewillis" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Bruce Willis</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movbuzz" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Buzz</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movcartoons" hx-target="main" hx-swap="innerHTML" >
            <p class="mov">Cartoons</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movcharliebrown" hx-target="main" hx-swap="innerHTML" >
            <p class="mov">Charlie Brown</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movchucknorris" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Chuck Norris</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movcomedy" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Comedy</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movcostner" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Costner</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movdrama" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Drama</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movdocumentary" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Documentary</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movfantasy" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Fantasy</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movgodzilla" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Godzilla</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movharrypotter" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Harry Potter</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movindianajones" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Indiana Jones</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movjamesbond" hx-target="main" hx-swap="innerHTML">
            <p class="mov">James Bond</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movjohnwayne" hx-target="main" hx-swap="innerHTML">
            <p class="mov">John Wayne</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movjohnwick" hx-target="main" hx-swap="innerHTML">
            <p class="mov">John Wick</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movjurrassicpark" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Jurrasic Park</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movkingsman" hx-target="main" hx-swap="innerHTML">
            <p class="mov">KingsMan</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movmeninblack" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Men In Black</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movminions" hx-target="main" hx-swat="innerHTML">
            <p class="mov">Minions</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movmisc" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Misc</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movnicolascage" hx-target="main" hx-swap="innerHTML">
            <p class="mov">Nicolas Cage</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movolides", hx-target="main" hx-swap="innerHTML">
            <p class="mov">Oldies</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movpirates", hx-target="main" hx-swap="innerHTML">
            <p class="mov">Pirates</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movriddick", hx-target="main" hx-swap="innerHTML">
            <p class="mov">Riddick</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movscifi", hx-target="main" hx-swap="innerHTML">
            <p class="mov">SciFi</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movstalone", hx-target="main" hx-swap="innerHTML">
            <p class="mov">Stalone</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movstartrek", hx-target="main" hx-swap="innerHTML">
            <p class="mov">Star Trek</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movstarwars", hx-target="main" hx-swap="innerHTML">
            <p class="mov">Star Wars</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movsuperheros", hx-target="main" hx-swap="innerHTML">
            <p class="mov">Super Heros</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movtinkerbell", hx-target="main" hx-swap="innerHTML">
            <p class="mov">Tinker Bell</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movtomcruize", hx-target="main" hx-swap="innerHTML">
            <p class="mov">Tom Cruize</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movtransformers", hx-target="main" hx-swap="innerHTML">
            <p class="mov">Transformers</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movtremors", hx-target="main" hx-swap="innerHTML">
            <p class="mov">Tremors</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movtherock", hx-target="main" hx-swap="innerHTML">
            <p class="mov">The Rock</p>
        </span>
        <span class="movListA" hx-trigger="click" hx-get="/movxmen", hx-target="main" hx-swap="innerHTML">
            <p class="mov">XMen</p>
        </span>
    </div>
</div>

{{ end }}