{{ define "rus_songsforalbum" }}
    <h1>Fuck it worked</h1>
    <div class="sfaOuterDiv">
    {{ range . }}
            <div class="sfaDiv">
                <p>{{ .Song }}</p> 
                <div class="sfaPlayAddDiv">
                    <button>Play</button>
                    <button>Add</button>
                </div> 
            </div>
    {{ end }}
    </div>
{{ end }}

<!-- RusicId string
ImgUrl string
Artist string
Artistid string
Album string	 
Albumid string
Song string
Fullpath string
Extension string
Idx string
Page string
FsizeResults string -->