{{ define "rus_songsforalbum" }}
    <h1>Songs For Album</h1>
    <div class="sfaOuterDiv">
    {{ range . }}
            <div class="sfaDiv">
                <p>{{ .Song }}</p> 
                <div class="sfaPlayAddDiv">
                    <!-- <button onclick='PlayMusic("{{ .PlayPath }}")' data-musid="{{ .RusicId }}" class="playBtn">Play</button> -->
                    <button onclick=PlayMusic() data-musid="{{ .RusicId }}" class="playBtn">Play</button>
                    <button class="addBtn">Add</button>
                </div> 
            </div>
    {{ end }}
    </div>
{{ end }}