{{ define "rus_songsforalbum" }}

    <h1>Fuck it worked</h1>

    {{ range . }}
        <div class="sfaOuterDiv">
            <div class="sfaDiv">
                <p>{{ .Song }}</p> 
                <div class="sfaPlayAddDiv">
                    <button>Play</button>
                    <button>Add</button>
                </div> 
            </div>
        </div>
    {{ end }}

{{ end }}

<!-- RusicId string
ImgUrl string
Artist string
Artistid string
Album string	 
Albumid string
Song string
Fullpath string
Extension string
Idx string
Page string
FsizeResults string -->